.peliCard{
  border-radius: 1px;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.7;
  transition: all 0.1s ease;
}
.peliCard:hover{
  filter: drop-shadow(0 0 5px rgba(102, 102, 102, 0.795));
  opacity: 1;
}
.movieImg{
  border-radius: 2px 2px 0 0;
  width: 230px;
  height: 345px;
}

@media (max-width:560px){
  .movieImg{
    width: 90%;
    height: auto;
  }
}