.peliCard{
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}
.peliCard:hover{
  opacity: 0.75;
}
.movieImg{
  width: 230px;
  height: 345px;
  border-radius: 5px;
  background-color: azure;
}

@media (max-width:560px){
  .movieImg{
    width: 90%;
    height: auto;
  }
}